body{
    margin: 0;
    background-color: rgb(250, 250, 250);
    height: 100%;
}

.meet-logo{
    text-align: center;
    padding: 50px;
}

@media screen and (max-width: 768px){
    .first-container{
        flex-wrap: wrap;
        text-align: center;
        margin: 0;
    }

    .second-container{
        width: 100%;
        flex-wrap: wrap;
        margin-top: 700px;
    }

    .image-one, .second-image{
        width: 100%;
        margin: 30px 0 30px 0;
    }

    .third-container{
        background-size: 100%;
        background-position: center;
        background-size: cover;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .second-text{
        text-align: center;
    }

    .image-container{
        flex-wrap: wrap;
        width: 100%;
    }

    .first-text{
        width: 100%;
        text-align: center;
    }

    p.last-text{
        padding: 20px;
        width: 100%;
        text-align: center;
    }

    h1#heading-two{
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    img.img{
        margin: 5;
    }

    img.img.first{
        margin: 15px;
    }

    img.img.last{
        margin-right: 15px;
    }

    button#button-three{
        margin: 10px 20px 10px 130px;
    }

    #buttonv{
        padding-top: 50px;
    }
}

.first-container{
    display: flex;
    justify-content: space-between;
    height: 230px;
    margin: 0 -20px 100px -20px;
}

.third-container{
    display: flex;
    background-image: url(image-footer.jpg);
    background-color: rgba(77, 150, 168, 0.3);
    width: 100%;
    color: white;
    height: 300px;
    margin-top: 100px; 
}

.buttonv{
    width: 500px;
    background-color: rgba(77, 150, 168, 0.7);
}

.first-text{
    text-align: center;
}

#first-paragraph{
    margin: 30px;
    color: rgb(135, 135, 157);
}

img{   
    width: 300px;
}

h1{
    font-family: 'Red Hat Display', sans-serif;
}

h2{
    font-family: 'Red Hat Display', sans-serif;
}

h5{
    color:rgb(0, 180, 180);
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 10px;
    word-spacing: 4px;
    letter-spacing: 3px;
    font-family: 'Red Hat Display', sans-serif;
}

p{
    font-family: 'Red Hat Display', sans-serif;
}

#heading-one{
    font-size: 40px;
    margin: 0;
}

#heading-two{
    padding: 100px;
    margin: 0;
    width: 100%;
    background-color: rgba(77, 150, 168, 0.7);
}

button{
    margin: 5px;
    padding: 15px;
    border-radius: 25px;
    border: transparent;
    color: white;
}

#button-one{
    width: 150px;
    background-color: rgb(77, 150, 168);
}

#button-one:hover{
    background-color: rgb(143, 227, 249);
}

#button-one :hover{
    background-color: transparent;
}

#button-two{
    width: 110px;
}

#button-two:hover{
    background-color: rgb(217, 184, 255);
    color:rgb(250, 250, 250);
}

#button-three{
    width: 150px;
    height: 50px;
    margin: 130px 80px 50px 200px;
    padding: auto;
    
}

#button-three:hover{
    background-color: rgb(217, 184, 255);
}

#button-two, #button-three{
    background-color: rgb(133, 95, 177);
    color:rgb(250, 250, 250);
}

#heading1{
    margin-top: 0;
}

.image-container{
    display: flex;
    justify-content: center;
}

.img{
    border-radius: 5px;
    margin: 15px;
    width: 200px;
    transition: 2s;
}

.img:hover{
    transform: scale(1.5);
    transition-delay: 0.5s;
}

.first{
    margin-left: 60px;
}

.last{
    margin-right: 60px;
}

.second-text{
    text-align: center;
}

.last-text{
    margin: 0;
    width: 100%;
    padding-top: 120px;
    background-color: rgba(77, 150, 168, 0.7);
}

#describe{
    margin: 0 0 100px 0;
    color: rgb(135, 135, 157);
}

#version1{
    color:rgb(0, 180, 224);
}

#version2{
    color:rgb(69, 2, 146);
}

.heading2{
    display: flex;
    justify-content: space-around;
    text-align: center;
}